.box-color {
    width: 500px;
    height: 300px;
    font-weight: bold;
    animation: myanimation 0.5s infinite;
}

@keyframes myanimation {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: brown;
    }

    100% {
        background-color: red;
    }
}